:root {
  --font: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --primary: #a8c460;
  --secondary: #ffffff;
  --skill-background: #f8f8f8;
  --skill-default: #b4b4b4;
  --black: #282b2d;
  --white: #ffffff;

  --html: #dd4b25;
  --html-secondary: #e96228;
  --css: #0079c0;
  --css-secondary: #008bce;
  --sass: #c76395;
  --js: #efd81d;
  --photoshop: #232136;
  --photoshop-secondary: #00a5f7;
  --illustrator: #f79500;
  --illustrator-secondary: #2f0000;
}

a,
button {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: var(--font);
  color: var(--black);
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 15px;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

.main .container {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 30px;
}

.main .content {
  padding: 30px 0 0;
  margin-bottom: 30px;
}

.main .content .page {
  display: none;
}

.main form .row {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 10px;
}

.main form .row label {
  position: absolute;
  bottom: 11px;
  left: 0px;
  font-size: 13px;
}

.main form .row input {
  font-family: var(--font);
  font-size: 13px;
  text-transform: lowercase;
  letter-spacing: 2px;
  padding: 17px 10px 3px 0px;
  border: 1px solid var(--white);
  border-bottom-color: var(--black);
  outline: none;
  transition: all 0.2s ease;
}

.main form .row input:focus {
  transition: all 0.2s ease;
}

.main form .row input:focus + label,
.main form .row label.active {
  font-size: 10px;
  font-weight: bold;
  bottom: 25px;
  transition: all 0.2s ease;
}

.main form.find-me button {
  display: block;
  width: 100%;
  background-color: var(--black);
  border: none;
  padding: 10px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  cursor: pointer;
  transition: all 0.2s ease;
}

.main form.find-me button:hover {
  background-color: var(--primary);
  transition: all 0.2s ease;
}

#skills ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
  list-style-type: none;
  margin: 0 0 50px;
  padding: 0;
}

#skills ul:last-of-type {
  margin-bottom: 0px;
}

#skills li {
  background-color: var(--skill-background);
}

#skills li .percent {
  color: var(--white);
  padding: 15px 0;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#skills li .percent span {
  padding-left: 15px;
}

#skills li.html5 .percent {
  width: 90%;
  background-color: var(--html);
  border-left: 5px solid var(--html-secondary);
}

#skills li.css3 .percent {
  width: 80%;
  background-color: var(--css);
  border-left: 5px solid var(--css-secondary);
}

#skills li.sass .percent {
  width: 65%;
  background-color: var(--sass);
  border-left: 5px solid var(--skill-default);
}

#skills li.js .percent {
  width: 6%;
  background-color: var(--js);
  color: var(--black);
}

#skills li.photoshop .percent {
  width: 60%;
  background-color: var(--photoshop);
  border-left: 5px solid var(--photoshop-secondary);
}

#skills li.illustrator .percent {
  width: 55%;
  background-color: var(--illustrator);
  border-left: 5px solid var(--illustrator-secondary);
}

#skills li.details .percent {
  width: 97%;
  color: var(--black);
}

#skills li.responsive .percent {
  width: 90%;
  color: var(--black);
}

#skills li.team .percent {
  width: 100%;
  color: var(--black);
}

#skills li.time .percent {
  width: 80%;
  color: var(--black);
}

@media (min-width: 1024px) {
  .main .container {
    flex-direction: row;
    gap: 65px;
  }

  .main .side {
    padding-top: 30px;
    width: 100%;
    min-width: 250px;
    max-width: 250px;
  }

  .main .content {
    border-bottom: none;
    width: 100%;
    min-height: calc(100vh - 46px);
  }

  #skills ul {
    min-width: 500px;
  }
}
